.avatar-header {
    width: 30px !important;
    height: 30px !important;
    margin-top: -5px !important;
    margin-right: 0px !important;
}
.user-footer .btn-default {
    font-size: 0.9em;
}
.error {
    color: #dc3545!important;
}
.card-header-block {
    min-height: 57px;
}
#form span.error{
    padding: 0 7.5px;
}